# Godot 4+ ozel
.godot/
/android/

# Disari aktarilan yapilar
build/
builds/
*.exe
*.pck
*.zip
*.apk
*.aab

# Isletim sistemi
Thumbs.db
desktop.ini
.DS_Store

# Editor
.vscode/
*.tmp

# rFXGen ham ciktilari (tools/uret_ses.py yeniden uretir)
assets/audio/ham/
